<!-- <div>
    <ul>
      <li *ngFor='let quote of quotes'>
        {{quote.author}}<br>{{quote.quote}}
        <button (click)='deleteQuote(quote)'>Delete</button>
      </li>
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </ul>
  </div> -->
  <div class="container jumbotron">
    <div class="row">
      <div class="col-md-6">
        <div class="card" style="width: 30rem;">
          <div>
            <br>
            <ul>
              <li *ngFor='let quote of quotes'>
                <h6 class="card-subtitle mb-2 text-muted">Posted By: {{quote.name}}</h6>
                <div class="card-body">
                  <h5>{{quote.quote}}</h5>
                  <br>
                  <h4>By:{{quote.author}}</h4>
                </div>
                <app-quote-details></app-quote-details>
                <button id="margin" (click)='deleteQuote(quote)'class="btn btn-sm btn-danger">Delete</button>
                <br>
              </li>
              <br>
          </ul>
          </div>
        </div>
        <br>
      </div>
      <br>
      <div class="col-md-6">
        <br>
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
    </div>

  </div>
