<!-- <div>
    <ul>
      <li *ngFor='let quote of quotes'>
        {{quote.author}}<br>{{quote.quote}}
        <button (click)='deleteQuote(quote)'>Delete</button>
      </li>
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </ul>
  </div> -->
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card" style="width: 18rem;">
          <div>
            <br>
            <ul>
              <li *ngFor='let quote of quotes'>
                <h6 class="card-subtitle mb-2 text-muted">Posted By: {{quote.name}}</h6>
                <div class="card-body">
                  {{quote.quote}}
                  <br>
                  By:{{quote.author}}
                </div>
                <button (click)='deleteQuote(quote)'class="btn btn-sm btn-danger">Delete</button>
                <app-quote-details></app-quote-details>
              </li>
              <br>
          </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
    </div>

  </div>
